<a href="https://colab.research.google.com/github/ayushrathod04/MACHINE_LEARNING/blob/main/intershipday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from sklearn.datasets import load_diabetes

In [ ]:
d=load_diabetes ()

In [ ]:
print(d)

Empty DataFrame
Columns: []
Index: []

In [ ]:
df=pd.read_csv('/content/diabetes - diabetes.csv')

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.value_counts('Outcome')

Outcome
0    500
1    268
Name: count, dtype: int64

In [ ]:
df.value_counts('Age')

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
52     8
44     8
50     8
51     8
58     7
54     6
47     6
53     5
60     5
49     5
57     5
48     5
66     4
62     4
63     4
55     4
59     3
56     3
65     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
Name: count, dtype: int64

In [ ]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
df=pd.read_csv('/content/Iris - Iris.csv')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
df.value_counts('Species')

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [ ]:
df.groupby('Species').mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026

In [ ]:
df.groupby('Species')

task1 Create a dataframe as shown in image and do the following task
1) Find the most expensive player

In [ ]:
import pandas as pd

In [ ]:
data = {
    "Player": ["Hardik Pandya", "KL Rahul", "Andre Russel", "Jasprit Bumrah", "Virat Kohli", "Rohit Sharma"],
    "Team": ["Mumbai Indians", "Kings Eleven", "Kolkata Knight riders", "Mumbai Indians", "RCB", "Mumbai Indians"],
    "Category": ["Batsman", "Batsman", "Batsman", "Bowler", "Batsman", "Batsman"],
    "BidPrice": [13, 12, 7, 10, 17, 15],
    "Runs": [1000, 2400, 900, 200, 3600, 3700]
}

In [ ]:
df= pd.DataFrame (data)

In [ ]:
most_expensive_player = df.loc[df['BidPrice'].idxmax()]

In [ ]:
print("Most Expensive Player:")

Most Expensive Player:

In [ ]:
print(most_expensive_player)

Player      Virat Kohli
Team                RCB
Category        Batsman
BidPrice             17
Runs               3600
Name: 4, dtype: object

task 2 2) Print total players per team

In [ ]:
total_players_per_team = df['Team'].value_counts()

In [ ]:
print("\nTotal Players per Team:")
print(total_players_per_team)

Total Players per Team:
Team
Mumbai Indians           3
Kings Eleven             1
Kolkata Knight riders    1
RCB                      1
Name: count, dtype: int64

3) Print player who has highest bidprice per team

In [ ]:
highest_bid_per_team = df.loc[df.groupby('Team')['BidPrice'].idxmax()]

In [ ]:
print("\nPlayer with Highest Bid Price per Team:")
print(highest_bid_per_team)

Player with Highest Bid Price per Team:
         Player                   Team Category  BidPrice  Runs
1      KL Rahul           Kings Eleven  Batsman        12  2400
2  Andre Russel  Kolkata Knight riders  Batsman         7   900
5  Rohit Sharma         Mumbai Indians  Batsman        15  3700
4   Virat Kohli                    RCB  Batsman        17  3600

4) Find average runs per team

In [ ]:
average_runs_per_team = df.groupby('Team')['Runs'].mean()

In [ ]:
print("\nAverage Runs per Team:")
print(average_runs_per_team)

Average Runs per Team:
Team
Kings Eleven             2400.000000
Kolkata Knight riders     900.000000
Mumbai Indians           1633.333333
RCB                      3600.000000
Name: Runs, dtype: float64

Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

exam_data = {
    'name': ['Hrg', 'Vpv', 'Akl', 'Mng', 'Pmm', 'Sbc', 'Jgt', 'Vbk'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, np.nan, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no']
}

In [ ]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
df=pd.DataFrame(exam_data,index=labels)

In [ ]:
missing_score_rows = df[df['score'].isna()]

In [ ]:
print("Rows where the score is missing:")
print(missing_score_rows)

Rows where the score is missing:
  name  score  attempts qualify
d  Mng    NaN         3      no
g  Jgt    NaN         1     yes

xercise 1: From the given dataset print the first and last seven rows
Exercise 2: Find the most expensive car company name
Exercise 3: Count total cars per company
Exercise 4: Find each company’s Higesht price car
Exercise 5: Find the average mileage of each car making company

In [ ]:
df=pd.read_csv('/content/Automobile_data (1) - Automobile_data (1).csv')

In [ ]:
df.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
first_seven_rows = df.head(7)

In [ ]:
last_seven_rows = df.tail(7)

In [ ]:
print("First seven rows:")
print(first_seven_rows)
print("\nLast seven rows:")
print(last_seven_rows)

First seven rows:
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0

Last seven rows:
    index     company body-style  wheel-base  length engine-type  \
54     79      toyota      wagon       104.5   187.8        dohc
55     80  volkswagen      sedan        97.3   171.7         ohc
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
54              six         156               19  15750.0
55             four          52               37   7775.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [ ]:
# Exercise 2: Find the most expensive car company name
most_expensive_car_company = df.loc[df['price'].idxmax()]['company']
print("\nMost expensive car company:")
print(most_expensive_car_company)

Most expensive car company:
mercedes-benz

In [ ]:
# Exercise 3: Count total cars per company
total_cars_per_company = df['company'].value_counts()
print("\nTotal cars per company:")
print(total_cars_per_company)

Total cars per company:
company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
# Exercise 4: Find each company’s highest price car
highest_price_per_company = df.loc[df.groupby('company')['price'].idxmax()]
print("\nEach company's highest price car:")
print(highest_price_per_company)

Each company's highest price car:
    index        company   body-style  wheel-base  length engine-type  \
1       1    alfa-romero  convertible        88.6   168.8        dohc
6       6           audi        wagon       105.8   192.7         ohc
11     14            bmw        sedan       103.5   193.8         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
19     28          honda        sedan        96.5   175.4         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
31     43          mazda        sedan       104.9   175.0         ohc
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
39     52     mitsubishi        sedan        96.3   172.4         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
54     79         toyota        wagon       104.5   187.8        dohc
58     86     volkswagen        sedan        97.3   171.7         ohc
60     88          volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
1              four         111               21  16500.0
6              five         110               19  18920.0
11              six         182               16  41315.0
15             four          70               38   6575.0
16             four          68               31   6377.0
19             four         101               24  12945.0
21             four          78               24   6785.0
26           twelve         262               13  36000.0
31             four          72               31  18344.0
35            eight         184               14  45400.0
39             four          88               25   8189.0
44              six         152               19  13499.0
46              six         207               17  37028.0
54              six         156               19  15750.0
58             four         100               26   9995.0
60             four         114               23  13415.0

In [ ]:
# Exercise 5: Find the average mileage of each car making company
average_mileage_per_company = df.groupby('company')['average-mileage'].mean()
print("\nAverage mileage per company:")
print(average_mileage_per_company)

Average mileage per company:
company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

Write a  Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Rows where score is missing:")
print(df[df['score'].isnull()])

Rows where score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df = pd.DataFrame(exam_data, index=labels)

In [ ]:
print("Summary of the DataFrame:")
print(df.info())

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [ ]:
print("\nBasic statistics of the DataFrame:")
print(df.describe(include='all'))

Basic statistics of the DataFrame:
             name      score   attempts qualify
count          10   8.000000  10.000000      10
unique         10        NaN        NaN       2
top     Anastasia        NaN        NaN     yes
freq            1        NaN        NaN       5
mean          NaN  13.562500   1.900000     NaN
std           NaN   4.693746   0.875595     NaN
min           NaN   8.000000   1.000000     NaN
25%           NaN   9.000000   1.000000     NaN
50%           NaN  13.500000   2.000000     NaN
75%           NaN  17.125000   2.750000     NaN
max           NaN  20.000000   3.000000     NaN